# for gpu: --extra-index-url https://download.pytorch.org/whl/cu126

openai
pillow
requests
ebooklib
python-dotenv
replicate
groq
transformers
diffusers
accelerate
safetensors
opencv-python
ruff
argparse
ftfy 
protobuf
tiktoken
peft
lfs
torch # for gpu: torch==2.7.1
torchvision
xformers
# for gpu: controlnet_aux